<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>hospital</display-name>
  <servlet>
    <description>
		</description>
    <display-name>login</display-name>
    <servlet-name>ValidaUsuario</servlet-name>
    <servlet-class>	control.ValidaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidaUsuario</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>incluirPaciente</servlet-name>
    <servlet-class>	control.incluirPaciente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>incluirPaciente</servlet-name>
    <url-pattern>/incluirPaciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>removerPaciente</servlet-name>
    <servlet-class>	control.removerPaciente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removerPaciente</servlet-name>
    <url-pattern>/removerPaciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>busca</servlet-name>
    <servlet-class>	control.buscaPaciente</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		incluirMedico</display-name>
    <servlet-name>incluirMedico</servlet-name>
    <servlet-class>
		control.incluirMedico</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ListarPaciente</display-name>
    <servlet-name>ListarPaciente</servlet-name>
    <servlet-class>
		control.ListarPaciente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>busca</servlet-name>
    <url-pattern>/busca</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>incluirMedico</servlet-name>
    <url-pattern>/incluirMedico</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListarPaciente</servlet-name>
    <url-pattern>/ListarPaciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListarMedico</servlet-name>
    <servlet-class>
		control.ListarMedico</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		PreparaIncluirPaciente</display-name>
    <servlet-name>PreparaIncluirPaciente</servlet-name>
    <servlet-class>
		control.PreparaIncluirPaciente</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>AlterarPaciente</display-name>
    <servlet-name>AlterarPaciente</servlet-name>
    <servlet-class>
		control.AlterarPaciente</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>PreparaAlterarPaciente</display-name>
    <servlet-name>PreparaAlterarPaciente</servlet-name>
    <servlet-class>
		control.PreparaAlterarPaciente</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		ManagerPaciente</display-name>
    <servlet-name>ManagerPaciente</servlet-name>
    <servlet-class>
		control.ManagerPaciente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarMedico</servlet-name>
    <url-pattern>/ListarMedico</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreparaIncluirPaciente</servlet-name>
    <url-pattern>/PreparaIncluirPaciente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterarPaciente</servlet-name>
    <url-pattern>/AlterarPaciente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreparaAlterarPaciente</servlet-name>
    <url-pattern>/PreparaAlterarPaciente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerPaciente</servlet-name>
    <url-pattern>/ManagerPaciente</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ManagerMedico</display-name>
    <servlet-name>ManagerMedico</servlet-name>
    <servlet-class>control.ManagerMedico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerMedico</servlet-name>
    <url-pattern>/ManagerMedico</url-pattern>
  </servlet-mapping>
</web-app>